@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto";
}

body header {
  max-width: 1200px;
  margin: auto;
}

body header nav {
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .netflix-logo {
  color: rgb(229 9 21);
  font-size: 1.5rem;
  font-weight: 700;
}

.login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper select {
  appearance: none;
  background: transparent;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
}

select:focus {
  outline-offset: 2px;
  outline: 2px solid #fff;
}

.select-wrapper .arrow {
  width: 8px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  pointer-events: none;
}

.login a {
  padding: 5.25px 15px;
  background-color: rgb(229 9 21);
  border-radius: 5px;
}

header .information {
  padding: 0 2rem 2rem 2rem;
}

.information .info-container {
  max-width: 31rem;
  min-height: 31rem;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information .title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.information p,
.information h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

header .input-address {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.input-address input {
  width: 100%;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 5px;
  padding: 1.25rem 1rem 0.25rem;
  line-height: 1.5;
  position: relative;
  transition: all 0.5s;
}

.input-address label {
  position: absolute;
  top: 12px;
  left: 1rem;
  color: #ccc;
  font-size: 1rem;
  transition: all 0.5s;
}

.input-address input:focus {
  outline-offset: 2px;
  outline: 2px solid #fff;
}

.input-address input:focus + label {
  font-size: 0.8rem;
  top: 5px;
  pointer-events: none;
}

.input-address button {
  flex-shrink: 0;
  border: none;
  background: rgb(229 9 21);
  padding: 0.7rem 1.5rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-address button img {
  width: 1.5rem;
}

/* 現正熱播  */
section.hot-now {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem 3rem 2rem;
}

section.hot-now h2 {
  font-size: 1.125rem;
}

section.hot-now .select-container {
  display: flex;
  flex-direction: column;
}

section.hot-now .select-wrapper {
  margin-top: 1rem;
}

section.hot-now .select-wrapper select {
  width: 100%;
  padding: 8px 36px 8px 12px;
  font-size: 1rem;
}

section.hot-now .select-wrapper .arrow {
  right: 16px;
}

/* 電影排行 */
section.hot-now .movie-ranking {
  flex: 1;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
}

.movie-ranking .ranks {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* padding: 0 36px; */
}

.movie-ranking .ranks .rank {
  width: 7rem;
  height: 9.8rem;
  margin: 4.8px 10px;
  border-radius: 5px;
  background-color: rgb(80, 139, 159);
  position: relative;
  transition: transform 0.3s;
}

.movie-ranking .ranks .rank:hover {
  transform: scale(1.05);
}

.movie-ranking .ranks .rank::before {
  content: attr(data-text);
  position: absolute;
  left: -0.5rem;
  bottom: 0;

  color: #000;
  font-weight: 900;
  font-size: 4rem;
  text-shadow: 0 0 3px rgb(213, 213, 213), 0 0 3px rgb(213, 213, 213),
    0 0 3px rgb(213, 213, 213), 0 0 3px rgb(213, 213, 213),
    0 0 3px rgb(213, 213, 213), 0 0 3px rgb(213, 213, 213),
    0 0 3px rgb(213, 213, 213), 0 0 3px rgb(213, 213, 213),
    0 0 3px rgb(213, 213, 213), 0 0 3px rgb(213, 213, 213),
    0 0 3px rgb(213, 213, 213), 0 0 3px rgb(213, 213, 213),
    0 0 3px rgb(213, 213, 213), 0 0 3px rgb(213, 213, 213),
    0 0 3px rgb(213, 213, 213), 0 0 3px rgb(213, 213, 213),
    0 0 3px rgb(213, 213, 213);
}

.movie-ranking .btn {
  width: 2.25rem;
  display: flex;
  align-items: center;
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  transition: transform 0.5s;
}

.movie-ranking .prev-btn {
  left: 0;
  justify-content: flex-start;
  transform: translateX(-100%);
}

.movie-ranking .next-btn {
  right: 0;
  justify-content: flex-end;
  transform: translateX(100%);
}

/* .movie-ranking .btn.btn--active {
  transform: translateX(0);
} */

.movie-ranking .btn button {
  background: rgb(26, 26, 26);
  border: none;
  padding: 3rem 0;
  border-radius: 50px;
  cursor: pointer;
}

.movie-ranking .btn button img {
  width: 24px;
}

@media screen and (min-width: 600px) {
  .information .info-container {
    max-width: 25rem;
  }

  header .input-address {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .input-address input {
    flex-grow: 1;
  }
}

@media screen and (min-width: 960px) {
  body header nav,
  section.hot-now {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  nav .netflix-logo {
    font-size: 3rem;
  }

  .information .info-container {
    min-height: 37rem;
  }

  .information .title {
    font-size: 2.5rem;
  }

  .information p {
    margin-bottom: 1.5rem;
  }

  section.hot-now h2 {
    font-size: 2rem;
  }

  section.hot-now .select-container {
    flex-direction: row;
    gap: 1rem;
  }

  section.hot-now .select-wrapper select {
    width: fit-content;
  }

  .movie-ranking .ranks .rank {
    width: 8.75rem;
    height: 12.25rem;
    margin: 6.4px 22px;
  }

  .movie-ranking .ranks .rank::before {
    font-size: 5rem;
    left: -1.2rem;
  }
}

@media screen and (min-width: 1280px) {
  .information .info-container {
    min-height: min(80vh, 45rem);
  }

  .information .info-container {
    max-width: 35rem;
  }

  .information .title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  .information p {
    margin-bottom: 2rem;
  }

  .movie-ranking .ranks .rank {
    width: 11.25rem;
    height: 15.75rem;
    margin: 6.4px 22px;
  }

  .movie-ranking .ranks .rank::before {
    font-size: 6rem;
    left: -1.2rem;
  }
}

@media screen and (min-width: 1920px) {
  .information .info-container {
    max-width: 40rem;
  }

  .information .title {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
}
